@page
@model RegisterModel
@using Domain_Layer.Classes;
@using Domain_Layer.Enums;
@{
	ViewData["Title"] = "Register Page";
}
<div class="baseContainer">
	<div class="registerSquare">
		<form method="post">

			<label asp-for="User.FirstName">Name:*</label>
			<span asp-validation-for="User.FirstName"></span>
			<input asp-for="User.FirstName" /><br />

			<label asp-for="User.Password">Password:*</label>
			<span asp-validation-for="User.Password"></span>
			<input asp-for="User.Password" /><br />

			<label asp-for="User.LastName">LastName:*</label>
			<span asp-validation-for="User.LastName"></span>
			<input asp-for="User.LastName" /><br />

			<label asp-for="User.Email">Email:*</label>
			<span asp-validation-for="User.Email"></span>
			<input asp-for="User.Email" /><br />

			<label asp-for="User.UserName">UserName:*</label>
			<span asp-validation-for="User.UserName"></span>
			<input asp-for="User.UserName" /><br />

			<label asp-for="User.Address">Address:*</label>
			<span asp-validation-for="User.Address"></span>
			<input asp-for="User.Address" /><br />

			<label asp-for="User.TelephoneNumber">TelephoneNumber:*</label>
			<span asp-validation-for="User.TelephoneNumber"></span>
			<input asp-for="User.TelephoneNumber" /><br />

			<select asp-for="User.UserLevel" asp-items="Html.GetEnumSelectList<UserLevels>()">
				<option value="">Choose a Kind of user</option>
			</select>
			<div class="logReg_button_container">
				<input type="submit" value="Submit" />

			</div>

		</form>
	</div>
</div>
